<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net472" />
  <package id="AvalonEdit" version="6.0.1" targetFramework="net472" />
  <package id="cef.redist.x64" version="79.1.35" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.35" targetFramework="net472" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="79.1.350" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Esprima" version="1.0.1270" targetFramework="net472" />
  <package id="Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.18" targetFramework="net472" />
  <package id="JavaScriptEngineSwitcher.ChakraCore" version="3.4.5" targetFramework="net472" />
  <package id="JavaScriptEngineSwitcher.Core" version="3.3.0" targetFramework="net472" />
  <package id="Jsbeautifier" version="0.0.1" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
</packages>