<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net472" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net472" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="79.1.360" targetFramework="net472" />
  <package id="Esprima" version="1.0.1270" targetFramework="net472" />
  <package id="Jsbeautifier" version="0.0.1" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="net472" developmentDependency="true" />
</packages>